.App {
   /* display: grid; */
   text-align: center;
   /* display: flex; */

}

body {
   margin: 0px;
   background-color: #C4D7E0;
}


.nav {
   /* border: 5px black solid; */
   height: 75px;
   background-color: #6E85B7;
   display: flex;
   justify-content: end;
   padding: 5px 5px;
}

.field-search {
   width: 300px;
   line-height: 24px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 30px 10px 30px;
   border: 1px solid #dfe1e5;
   border-radius: 24px;
   margin-top: 10px;
}

.btn-nav {
   margin-top: 10px;
   line-height: 27px;
   margin: 11px 4px;
   padding: 0px 16px;
   border: 1px solid #dfe1e5;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
}

/* cards css */

.cards-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   /* border: 6px solid blueviolet; */
   gap: 5px;
   margin: 10px 20px;
}

.card {
   /* border: 5px solid black; */
   /* background-color: #F8F9D7; */
   background-color: #9BABB8;
   font-size: 10px;
   width: 250px;
   height: 250px;
   border-radius: 5px;
}

#image {
   height: 50px;
   width: fit-content;
}

.btn-close {
   margin-top: 3px;
   line-height: 27px;
   padding: 0px 16px;
   border: 1px solid #dfe1e5;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
}
