/* .App {
   text-align: center;
} */

body {
   margin: 0px;
   background-color: #393646;
}

/* nav css style ---------------------------------- */

/* todo when clik about add random button hidden  */
.nav {
   /* border: 5px black solid; */
   height: 75px;
   background-color: #F4EEE0;
   display: flex;
   /* justify-content: flex-end; */
   padding: 5px 5px;
}

.field-search {
   width: 300px;
   line-height: 24px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 30px 10px 30px;
   border: 1px solid #dfe1e5;
   border-radius: 24px;
   margin-top: 10px;
}

.btn-nav {
   margin-top: 10px;
   line-height: 27px;
   margin: 11px 4px;
   padding: 0px 16px;
   border: 1px solid #dfe1e5;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
}

/* .title {
   font-size: 30px;
   margin-left: 200px;
} */

.about {
   /* background-color: aqua; */
   margin-top: 10px;
   line-height: 27px;
   margin: 11px 4px;
   padding: 0px 16px;
   border: 1px solid #dfe1e5;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
}

.home {
   margin-top: 10px;
   line-height: 27px;
   margin: 11px 4px;
   padding: 0px 16px;
   border: 1px solid #dfe1e5;
   border-radius: 4px;
   font-size: 14px;
   cursor: pointer;
}

/* cards css styles --------------------------------------*/

.cards-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 5px;
   margin: 10px 20px;
}

@media (max-width: 768px) {
   .cards-container {
      grid-template-columns: 1fr 1fr;
   }
}
   
.card {
   margin-top: 20px;
   background-color: #9BABB8;
   font-size: 10px;
   width: 350px;
   height: 200px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.card-img {
   width: 175px;
   border-radius: 5px;
}

.card-text {
   margin-right: auto;
}

.card-text h2 {
   font-size: 12px;

}
.btn-close {
   margin-top: 3px;
   margin-left: 3px;
   line-height: 20px;
   padding: 0px 16px;
   /* border: 1px solid #dfe1e5; */
   /* border-radius: 4px; */
   border: none;
   font-size: 10px;
   cursor: pointer;
   background-color: #9BABB8;
   /* color: black; */
   height: 20px;
   /* float: left; */
}

/* details css styles --------- */
.detail-container {
   display: flex;
   justify-content: center;
}