.App {
   /* display: grid; */
   text-align: center;
   /* display: flex; */

}

.cards-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   border: 6px solid blueviolet;
   gap: 5px;
}

.card {
   border: 5px solid black;
   font-size: 10px;
   width: 250px;
   height: 250px;
   border-radius: 5px;
}

#image {
   height: 50px;
   width: fit-content;
}

.nav {
   border: 5px black solid;
   height: 75px;
   background-color: bisque;
}

.field-search {
   width: 50%;
   border: 0;
   border-bottom: 2px solid '#9b9b9b';
   font-size: 1.3rem;
   color: black;
   padding: 7px 0;
   /* background: transparent; */
   transition: border-color 0.2s;

}


